<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moxom</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Espace pour le nav -->
    <nav class="nav">
      <div class="Moxom">
        <span class="lbraquet"></span>
        <span><h1 class="logo">MOXOM</h1></span>
        <span class="rbraquet"></span>
      </div>
      <div class="items">
        <ul>
          <li><h3>ABOUT</h3></li>
          <li><h3>SERVICES</h3></li>
          <li><h3>GALERY</h3></li>
          <li><h3>PRICING</h3></li>
          <li><h3>CONTACT</h3></li>
          <li>
            <button class="b1">TAKE ORDER</button>
            <button class="b2"><i class="fa-solid fa-bag-shopping"></i></button>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Espace pour le body -->
    <main></main>
    <script
      src="https://kit.fontawesome.com/eb46689306.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
