<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moxom</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Espace pour le nav -->
    <nav class="navi">
      <div class="Moxom">
        <span class="lbraquet"></span>
        <span><h1 class="logoM mt-3">MOXOM</h1></span>
        <span class="rbraquet"></span>
      </div>
      <div class="items">
        <ul>
          <li><h5>ABOUT</h5></li>
          <li><h5>SERVICES</h5></li>
          <li><h5>GALERY</h5></li>
          <li><h5>PRICING</h5></li>
          <li><h5>CONTACT</h5></li>
          <li>
            <button class="b1">TAKE ORDER</button>
            <button class="b2"><i class="fa-solid fa-bag-shopping"></i></button>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Espace pour le body -->
    <main>
      <!-- Les 3 Rectangles -->
      <div class="RecVert"></div>
      <div class="RecRouge1"></div>
      <div class="RecRouge2"></div>

      <!-- Text pour le CRISPY -->
      <div class="crispy">
        <div class="lettre">
          <div class="surplus1"></div>
          <h1>C</h1>
        </div>
        <div class="lettre"><h1>R</h1></div>
        <div class="lettre"><h1>L</h1></div>
        <div class="lettre"><h1>S</h1></div>
        <div class="lettre"><h1>P</h1></div>
        <div class="lettre">
          <h1>Y</h1>
          <div class="surplus2"></div>
        </div>
      </div>

      <!-- Text Hamburger -->
      <div class="Hamburger">
        <h1>HAMBURGER</h1>
      </div>
      <!-- Image Hamburger -->
      <div class="Image">
        <img
          src="Images/hamburger-removebg-preview.png"
          style="width: 100%; height: 100%"
          alt=""
        />
      </div>

      <!-- Section avec Numéro 1 a 4 -->

      <div class="Rec1">
        <div class="Rec2">
          <div class="Numéro">
            <h1 style="text-align: end">01</h1>
            <h2>DELIGHTFUL</h2>
          </div>
          <div class="Numéro">
            <h1 style="text-align: end">02</h1>
            <h2>ONLY 12.99</h2>
          </div>
          <div class="Numéro">
            <h1 style="text-align: end">03</h1>
            <h2>CRISPY</h2>
          </div>
          <div class="Numéro">
            <h1 style="text-align: end">04</h1>
            <h2>FRENCH FRIES</h2>
          </div>
        </div>
      </div>

      <section id="slider" class="pt-5">
        <div class="container">
          <h1 class="text-center py-3" style="background-color: white">
            <b>OUR MENU</b>
          </h1>
          <div class="slider pt-5">
            <div class="owl-carousel">
              <div class="slider-card text-center">
                <img src="Images/hamburger-removebg-preview.png" alt="" />
                <h2 class="text-center card-title">Crispy Hamburger</h2>
                <div class="info">
                  <div class="card-body text-center">
                    <p class="text-center card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <h1 class="text-center">9.99$</h1>
                <button class="info">BUY NOW</button>
              </div>

              <div class="slider-card text-center">
                <img
                  src="Images/41c39ed8bc4e49830d7d3911af5196e0-removebg-preview.png"
                  alt=""
                />
                <h2 class="text-center card-title">Quarder Punder BLT</h2>
                <div class="info">
                  <div class="card-body text-center">
                    <p class="text-center card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <h1 class="text-center">14.99$</h1>
                <button class="info">BUY NOW</button>
              </div>
              <div class="slider-card text-center">
                <img src="Images/hamb2-removebg-preview.png" alt="" />
                <h2 class="text-center card-title py-1">Mega Cheesy</h2>
                <div class="info">
                  <div class="card-body py-2 text-center">
                    <p class="text-center card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <h1 class="text-center pb-3">19.99$</h1>
                <button class="info">BUY NOW</button>
              </div>
              <div class="slider-card text-center">
                <img src="Images/he199-removebg-preview.png" alt="" />
                <h2 class="text-center card-title">Vegan'S Special</h2>
                <div class="info">
                  <div class="card-body text-center">
                    <p class="text-center card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                <h1 class="text-center">12.59$</h1>
                <button class="info">BUY NOW</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Les scripts ajoutés -->
    <script
      src="https://kit.fontawesome.com/eb46689306.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
